.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding-right: 600px;
}

.App-header {
  background-color: rgb(224, 253, 255);
  min-height: 100vh;
  height: 200px;
  width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(20px + 2vmin);
  color:rgb(1, 54, 62);  
}
input[type=text],input[type=password]
{width: 100px;
padding:10px 100px;
}
form{padding-left:5px ;
  padding-right: 5px;
  page-break-inside:unset;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  font-size: calc(20px + 1vmi); 
  border:3px solid #f1f1f1;
 display:inline-block;
 align-items: baseline;
 text-align: center;
 background-color: white;
  width: 400px;
  margin: 20px;
}
.my div{background-color: white;
align-self:left;}
button{padding: 10px 100px;
background-color: blue;
width: 100px;
font-size: 20px;
text-align: center;}
button:hover {
  opacity:0.8;
}
.App-link {
  color: #61dafb;  
}
